/* *{
border: 2px solid red;
}  */
body {
    background-image: url(healthy.png);
    background-repeat: no-repeat;
    background-size: cover;
/* border: 2px solid; */
width: 100%;

}

    nav li{
        list-style: none;
         display: inline;
         margin-right: 15px;
         font-size: 3em;
        }
       nav li a{
        text-decoration: none;
        color:rgb(35, 0, 57)
       }
       nav ul{
        display: flex;
        justify-content: right;
       }
 nav li:hover{
            background-color: rgb(0, 81, 24);
         }

.div1 {
    background-image: url(logo.webp);
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    background-size: contain;
       margin-left: 100px;
       margin-top: 35px;
    border:1px solid ;
    border-radius: 5px;
    list-style: square;
    border-radius: 16px;
box-shadow: 15px 15px 0 rgba(17, 1, 38, 0.884);}

.uf {
    /* margin: 15%; */
   color: rgb(185, 255, 206);
   text-align: center;
   font-size: 2em;
}

.ul1 {
    /* margin-left: 35%; */
    /* margin-top: 0px; */
    font-size: x-large;
     color: rgb(185, 255, 206);
     text-align: center;
     font-size: 3em;
}
.div3{width: 400px;
height: 600px;
margin-right: 100px;
background-color: antiquewhite;
border:1px solid ;
  border-radius: 16px;
  box-shadow: 15px 15px 0 rgb(88, 85, 80);
  
   
}
.hablu{
    display: flex;
    justify-content: center;

}
.h5{text-align: center;
}
table{
 background-color: rgb(37, 12, 107);
    border-collapse:collapse ;
  color: azure;
 border: 1px solid;
    border-radius: 16px
}
td{
      border: 1px  rgb(37, 12, 107);
    border-collapse:collapse ;
      font-size: 3em;
        text-decoration-color: bisque;
}
.table{display: flex;
    align-items: flex-end; 
    justify-content: center;
   ;
     
    
}
.mother{ display: flex;
    justify-content: space-around;}
    label{font-size: 2em;
    width: 100%;
    }
    .h1{font-family: sans-serif;font-style: initial;font-weight: bolder;font-size: 100px; text-align: center;
    }
    .bennar{
        display: flex;
         background-color: rgba(152, 192, 29, 0.85);
                width: 60%;
                height: 500px;
                 display: flex;
                justify-content: center; 
                align-items: center;
                margin: 0 auto;
                border: 7px solid skyblue;
                border-radius: 16px;
    }
     .bennar img{
        width: 300px;
        height: 300px;

         display: flex;
justify-items: center; 
align-items: center;
border: 5px solid orange;
border-radius: 16px;
box-shadow: 10px 10px 10px rgba(0,0,0 0.203);
     }
     .kinba{
        color: crimson;
     }