body {
    background-image: url(healthy.png);
    background-repeat: no-repeat;
    background-size: cover;
border: 2px solid;
width: 100%;

}

    nav li{
        list-style: none;
         display: inline;
         margin-right: 15px;
        }
       
       
 nav li:hover{
            background-color: bisque
         }

.div1 {
    background-image: url(logo.webp);
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    background-size: contain;
       margin-left: 200px;
       margin-top: 35px;
    border:1px solid ;
    border-radius: 5px;
    list-style: square;
    border-radius: 16px;
box-shadow: 15px 15px 0 rgba(17, 1, 38, 0.884);}

.uf {
    /* margin: 15%; */
   color: rgb(185, 255, 206);
   text-align: center;
}

.ul1 {
    /* margin-left: 35%; */
    /* margin-top: 0px; */
    font-size: x-large;
     color: rgb(185, 255, 206);
     text-align: center;
}
.div3{width: 400px;
height: 600px;
background-color: antiquewhite;
border:1px solid ;
  border-radius: 16px;
  box-shadow: 15px 15px 0 rgb(88, 85, 80);
   
}
.hablu{
    display: flex;
    justify-content: center;

}
.h5{text-align: center;
}
table{
 background-color: rgb(119, 0, 255);
    border-collapse:collapse ;
  

}
td{
      border: 1px solid green;
      
}
.table{
     
    
}
.mother{ display: flex;
    justify-content: space-around;}